
* {
	font-family: 'Cabin Sketch', cursive;
	color:white;

	
}

h1 {
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
	color:white;
	font-size: 80px;
    padding-bottom: 20px;
}


body {
    background-image: url(bg-chalkboard.jpg);
    background-size: cover;
}

.gameboard {
    width: 328px;
    height:318px;
    z-index: 1;
    margin-top: 75px;
}

.wrapper {
    width: 330px;
    margin:0 auto;
}

.button {

     background-color:white;
     width: 160px;
     margin: 60 60 93 auto;
     text-align: center;
     font-color:black;
}

button {
	
    float: left;
    margin-top: 2 cm;
    color:black;
}

p {
	font-size:60px;
	margin:0px;
	margin-top:14px;
}

.row1, .row2, .row3 {
    clear:both;
}

#cell-1x1,#cell-1x2,#cell-1x4,#cell-1x5 {
    border-right: 8px solid white;
    border-bottom: 8px solid white;
    text-align: center;
}

#cell-2x1 {
	border-right: 8px solid white;
	border-bottom: 8px solid white;
	text-align: center;
}

#cell-2x2 {
	border-right: 8px solid white;
	border-bottom: 8px solid white;
	text-align: center;
}

#cell-1x3,#cell-2x3{
    border-bottom: 8px solid white;
    text-align: center;
}

#cell-3x1 {
    border-right: 8px solid white;
    text-align: center;
}

#cell-3x3 {
    border-left: 8px solid white;
    text-align: center;
}

#cell-1x1 {
    width:100px;
    height:100px;
    float: left;
    text-align: center;
}

#cell-1x2 {
    width:100px;
    height:100px;
    float: left;
    text-align: center;
}

#cell-1x3 {
    width:100px;
    height:100px;
    float: left;
    text-align: center;
}

#cell-2x1 {
    width:100px;
    height:100px;
    float: left;
    text-align: center;
}

#cell-2x2 {
    width:100px;
    height:100px;
    float: left;
    text-align: center;
}

#cell-2x3 {
    width:100px;
    height:100px;
    float: left;
    text-align: center;
}

#cell-3x1 {
    width:100px;
    height:100px;
    float: left;
    text-align: center;
}

#cell-3x2 {
    width:100px;
    height:100px;
    float: left;
    text-align: center;
}

#cell-3x3 {
    width:100px;
    height:100px;
    float: left;
    text-align: center;
}

